<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<p>Nossa loja é o destino ideal para quem busca produtos de alta qualidade e inovação. Oferecemos uma ampla variedade de itens que atendem às mais diversas necessidades, desde utensílios para o lar e eletrônicos, até produtos de moda, beleza e bem-estar. Nosso compromisso é proporcionar uma experiência de compra excepcional, com atendimento personalizado, preços competitivos e opções exclusivas. Trabalhamos com marcas renomadas, garantindo durabilidade e design moderno em cada produto. Além disso, oferecemos uma plataforma online de fácil navegação, facilitando o acesso a todos os nossos produtos no conforto de sua casa. Aqui, cada compra é uma escolha inteligente!</p>
<%- include ('partials/footer.ejs') %>