<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Página do seu perfil!</h1>

    <% if (nome) {%>
    <p>Bem vindo <%= nome%></p>
    <%}else{ %>
    <p><h2>Faça login para acessar o seu perfil</h2></p>
    <%}%>    
</body>
</html>